@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

#root, html, body {
  margin: 0;
  padding: 0;
}

/* custom scroll bar for popup forms*/
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #1f2937;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 9999px;
}
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
}


/* This is for hiding default password reveal icon given by browsers */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}


